<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Pictures from Space: a beautiful collection of pictures from or about space, including the new MARS2020 rover Preserverance.">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="manifest" href="manifest.json">
    
    <!-- Generated using Web App Manifest Generator by https://tomitm.github.io/appmanifest/ -->
    <!-- Maskable icons via https://css-tricks.com/maskable-icons-android-adaptive-icons-for-your-pwa/ -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="SPACE">
    <meta name="apple-mobile-web-app-title" content="SPACE">
    <meta name="theme-color" content="#000000">
    <meta name="msapplication-navbutton-color" content="#000000">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="msapplication-starturl" content="/">

    <link rel="icon" type="image/png" sizes="192x192" href="/img/icon-192x192.png">
    <link rel="apple-touch-icon" type="image/png" sizes="192x192" href="/img/icon-192x192.png">
    <link rel="icon" type="image/png" sizes="256x256" href="/img/icon-256x256.png">
    <link rel="apple-touch-icon" type="image/png" sizes="256x256" href="/img/icon-256x256.png">
    <link rel="icon" type="image/png" sizes="384x384" href="/img/icon-384x384.png">
    <link rel="apple-touch-icon" type="image/png" sizes="384x384" href="/img/icon-384x384.png">
    <link rel="icon" type="image/png" sizes="512x512" href="/img/icon-512x512.png">
    <link rel="apple-touch-icon" type="image/png" sizes="512x512" href="/img/icon-512x512.png">

    <!-- Splashscreens for iOS devices. Generated with https://appsco.pe/developer/splash-screens -->
    <link href="/img/splashscreens/iphone5_splash.png" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="/img/splashscreens/iphone6_splash.png" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="/img/splashscreens/iphoneplus_splash.png" media="(device-width: 621px) and (device-height: 1104px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image" />
    <link href="/img/splashscreens/iphonex_splash.png" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image" />
    <link href="/img/splashscreens/iphonexr_splash.png" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="/img/splashscreens/iphonexsmax_splash.png" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image" />
    <link href="/img/splashscreens/ipad_splash.png" media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="/img/splashscreens/ipadpro1_splash.png" media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="/img/splashscreens/ipadpro3_splash.png" media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="/img/splashscreens/ipadpro2_splash.png" media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <title><%= title %> • Pictures from Space</title>
</head>
<body>
    <header>
        <img src="https://res.cloudinary.com/hvacmd/image/upload/f_auto,q_auto,w_640,h_432/v1616501362/earth-mars_bjssxy.png" alt="earth and mars">
        <h1>Pictures from <br><span>Space</span></h1>
    </header>