<%# Include the header module (partial) %> 
<%- include('./partials/head.ejs') %> 

    <img src="/img/not-found.png" alt="not found">
    <p>Unfortunately the page you requested was not found.</p>

<%# Include the header module (partial) %> 
<%- include('./partials/footer.ejs') %> 