<%# Include the header module (partial) %> 
<%- include('./partials/head.ejs') %> 

    <img src="/img/offline.png" class="notfound" alt="you are offline">
    <p>It looks like you don't have an active internet connection.</p>

<%# Include the header module (partial) %> 
<%- include('./partials/footer.ejs') %> 